<h1>{{ title }}</h1>

<article app-card>
  <h1 app-card-title>
    Heading
  </h1>
  <div app-card-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit
  </div>
</article>

<app-form-field>
  <label app-label>Hello world</label>
  <input app-input>
</app-form-field>

<app-pagination
  [(pageNumber)]="pagination.pageNumber"
  [pageSize]="pageSize.pageSize"
  [itemsTotal]="pagination.itemsTotal"
></app-pagination>


<app-page-size-picker
  [(pageSize)]="pageSize.pageSize"
  [pageSizeOptions]="pageSize.pageSizes"
></app-page-size-picker>
