<input
  [formControl]="query"
  placeholder="Search query"
  type="text"
/>

{{ payload$ | async }}
<ng-container *ngIf="(data$ | async) as pages">
  <app-pagination
    [formControl]="page"
    [pageSize]="10"
    [itemsTotal]="pages.total"
  ></app-pagination>
</ng-container>

<ng-container *ngIf="(data$ | async)?.products as products">
  <ul>
    <li *ngFor="let item of products">
      <article routerLink="/products/{{item.id}}">
        <h1>
          {{ item.title }}
        </h1>
        <img [src]="item.thumbnail"  alt="Product image" />
        <p>
          {{ item.description }}
        </p>
        <p>
          Price {{ item.price | currency }}
        </p>
        <p *ngIf="item.discountPercentage > 0">
          Discount: {{ (item.discountPercentage / 100) | percent: '1.0-2' }}
        </p>
      </article>
    </li>
  </ul>
</ng-container>
